<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document Verify</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Document Verify</a>
            </nav>

            
        </div>

        <div class="row justify-content-md-center" style="margin-top: 30px">
            <div class="col-md-4">

                {{#if message}}
                    <div class="alert {{messageClass}}" role="alert">
                        {{message}}
                    </div>
                {{/if}}

                <form method="POST" action="/addUserFile" enctype="multipart/form-data">
                    {{!-- {{csrf}} --}}
                    <div class="form-group">
                        {{!-- <input type="text" name="name" id=""> --}}
                        <label for="firstNameInput">Data</label>
                        
                        <input name="file" type="file" class="form-control" id="firstNameInput">
                    </div>

                    

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>